# 导游小文
VITE_XMOV_APP_ID=
VITE_XMOV_APP_SECRET=
# 导游小云
VITE_XMOV_AVATAR_2_ID=
VITE_XMOV_AVATAR_2_SECRET=
# 导游小灵
VITE_XMOV_AVATAR_3_ID=
VITE_XMOV_AVATAR_3_SECRET=
VITE_XMOV_GATEWAY_SERVER=https://nebula-agent.xingyun3d.com/user/v1/ttsa/session
VITE_XMOV_SDK_URL=https://media.xingyun3d.com/xingyun3d/general/litesdk/xmovAvatar@latest.js
